# fly.toml app configuration file generated for edgechain-ai-midnight on 2025-11-06T01:27:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'edgechain-ai-midnight'
primary_region = 'iad'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
